@media screen and (min-width:100px) and (max-width:768px) {
#primary-menu > ul > li {
    display: block;
    list-style: none;
    margin-right: 14px;
    text-align: center;

 }

.logo {
  margin-top: 10px;
  margin-left: 20px;
}

#primary-menu {
    background: #252525;
    height: 75px;
    line-height: 75px;
    width: 100%;  
  }

.table {
  margin: left;
  color: #2d6da3;
}

#h3 {
  text-align: left;
}

}
@media screen and (min-width:769px) { 
 html,body {
  margin: 0;
  padding: 0;
 }



 * {
  font-family: "Arial";
 }

  /*primary-menu*/

  #primary-menu {
  	background: #252525;
  	height: 75px;
  	line-height: 75px;
  }

  #primary-menu > ul {
  	padding: 0;
  	margin: 0;
    float: center;
    font-size: 18px;
  
  }
  
  #primary-menu > ul > li {
  	display: inline-block;
  	list-style: none;
  	margin-right: 14px;

 }

 #primary-menu > ul > li:last-child {
 	margin-right: 0px;
 }

 #primary-menu > ul > li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}


.logo {
  margin-top: 10px;
  margin-left: 38px;
  float: left;
}


html {
  background: #e5e7ea;
}


#h3 {
  text-align: center;
}


.table {
  margin: 0 auto;
  color: #2d6da3;
}

.container{
  width: 100%;
  height: 200px;
  background: url(../img/1507281686.2145-assets/fdsfds.png);
  background-position:  center center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 0;
  position: absolute;
}
footer { 
width: 100%;
bottom: 0;

}


content label, content input {
  display: block;

}

content button {
  width: 10%;
  padding: 10px;
  background: #fff;
  border: 2px solid #4CAF50;
  margin-top: 5px;
}

content button:hover {
  background: #4CAF50;
  color: #fff;
}