/*Отступы*/
*{
	margin: 0;
	padding: 0;
}
/*Отступы*/
a{
	text-decoration: none;
}

li{
	text-decoration: none;
	list-style: none;
}

body{
	font-family: 'Times New Roman', sans-serif;
	background: url(../img/first-bg.jpg) no-repeat center top / cover;
	
}

/*logo*/
.logo{
	background: #000;
	width: 100%;
	display: flex;
	justify-content: center;
}

.graficlogo{
	padding: 5px;
	max-width: 100%;
	box-sizing: border-box;
}
/*logo*/
/*Навы*/
nav {
	margin: auto;
	width: 800px;
	height: 100px;
	display: flex;
	justify-content: center;

}

.topnav{
	font-size: 14px;
	margin-top: 40px;
}

.topnav a{
	color: #000;
	text-align: center;
	padding: 14px 16px;
	font-size: 17px;
}

.topnav a:hover{
	border-bottom: 2px solid #000;
}

.topnav .icon{
	display: none;
}
/*Навы*/
/*Адаптация под мобилу*/
@media screen and (max-width: 768px){

.topnav a:not(:first-child) {
	display: none;
	}
	.topnav a.icon{
		float: right;
		margin-top: -17px;
		display: block;
		color: black;
	}
	nav{
		width: 100%;
		height: 100px;
		display: flex;
		justify-content: left;
	}
	.topnav.responsiv{
		position: relative;
	}
	.topnav.responsive a.icon{
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a{
		float: none;
		display: block;
		text-align: left;
	}
}
/*Адаптация под мобилу*/
/*Текст контента*/
.main-text {
	position: relative;
	z-index: 2;
	text-align: center;
	
}

.main-text span {
	display: inline-block;
}

.main-text span::after {
	content: '';
	width: 20px;
	height: 1px;
	background-color: #fff;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

.main-text span::before {
	content: '';
	width: 20px;
	height: 1px;
	background-color: #fff;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
/*Текст контента*/

.title {
	padding-top: 115px;
}

.title h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}

.title p {
	color: #777777;
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
}

.services {
	margin-top: 80px;
}

.services__item	{
	width: 270px;
	float: left;
	text-align: center;
}

.services__item h3 {
	font-size: 18px;
	margin-bottom: 5px;
}

.services__item p {
	color: #777777;
	font-size: 14px;
	line-height: 1.55em;
}

.flex {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 115px;

}

footer .container > * {
	border: 1px solid red;
}