 html,body {
  margin: 0;
  padding: 0;
 }



 * {
  font-family: "Arial";
 }

  /*primary-menu*/

  #primary-menu {
    background: #252525;
    height: 75px;
    line-height: 75px;
  }

  #primary-menu > ul {
    padding: 0;
    margin: 0;
    font-size: 18px;
    display: inline-block;
  
  }
  
  #primary-menu > ul > li {
    display: inline-block;
    list-style: none;
    margin-right: 14px;

 }

 #primary-menu > ul > li:last-child {
  margin-right: 0px;
 }

 #primary-menu > ul > li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}


.logo {
  margin-top: 10px;
  margin-left: 38px;
  display: inline-block;
}


html {
  background: #e5e7ea;
}

.table {
  margin: 0 auto;
  color: #2d6da3;
}

.container{
  width: 100%;
  height: 150px;
  background: url(../img/1507281686.2145-assets/fdsfds.png);
  background-position:  center center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
}

h3 {
 text-align: center;
}
