/*Отступы*/
*{
	margin: 0;
	padding: 0;
}
/*Отступы*/
a{
	text-decoration: none;
}

li{
	text-decoration: none;
	list-style: none;
}

body{
	font-family: 'Maven Pro', sans-serif;
	margin: 0;
	background: url(../img/first-bg.jpg) no-repeat center top / cover;
}

/*logo*/
.logo{
	background: #000;
	width: 100%;
	display: flex;
	justify-content: center;
}

.graficlogo{
	padding: 5px;
	max-width: 100%;
	box-sizing: border-box;
}
/*logo*/
/*Навы*/
nav {
	margin: auto;
	width: 800px;
	height: 100px;
	display: flex;
	justify-content: center;

}

.topnav{
	font-size: 14px;
	margin-top: 40px;
}

.topnav a{
	color: #000;
	text-align: center;
	padding: 14px 16px;
	font-size: 17px;
}

.topnav a:hover{
	color: #fff;
	border-bottom: 2px solid #fff;
}

/*Навы*/
/*Адаптация под мобилу*/
@media screen and (max-width: 768px){

.topnav a:not(:first-child) {
	display: none;
	}
	.topnav a.icon{
		float: right;
		margin-top: -17px;
		display: block;
		color: black;
	}
	nav{
		width: 100%;
		height: 100px;
		display: flex;
		justify-content: left;
	}
	.topnav.responsiv{
		position: relative;
	}
	.topnav.responsive a.icon{
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a{
		float: none;
		display: block;
		text-align: left;
	}
}
/*Адаптация под мобилу*/
/*Текст контента*/
.main-text {
	position: relative;
	z-index: 2;
	text-align: center;
	
}

.main-text span {
	display: inline-block;
}

.main-text span::after {
	content: '';
	width: 20px;
	height: 1px;
	background-color: #fff;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

.main-text span::before {
	content: '';
	width: 20px;
	height: 1px;
	background-color: #fff;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
/*Текст контента*/

.title {
	padding-top: 115px;
}

.title h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}

.title p {
	color: #fff;
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
}
/*Услуги*/
.services {
	margin-top: 80px;
}

.services__item	{
	width: 270px;
	float: left;
	text-align: center;
}

.services__item h3 {
	font-size: 18px;
	margin-bottom: 5px;
}

.services__item p {
	color: #fff;
	font-size: 12px;
	line-height: 1.55em;
	font-family: Arial;
	font-weight: bold;
}
/*Услуги*/
.flex {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 115px;
	min-height: 100vh;

}



/*footer*/

footer{
	width: 100%;
	height: auto;
	background: #000;
	margin: 0 auto;
	text-align: center;
	padding-top: 25px;
}

.social img{
	margin-left: 10px;
	margin-bottom: 10px;
}
.social img:hover{
	background: #494949;
	border-radius: 50%;
}
/*footer*/

.form{
	width: 50%;
	margin: 50px auto;
}

.feedback-input{
	color: #000;
	font-weight: 14px;
	line-height: 22px;
	background-color: #000;
	padding: 13px;
	margin-bottom: 10px;
	width: 100%;
	bot-sizing: border-box;
	border: 0px solid transparent;
	border-bottom: 1px solid #000;
}
textarea{
	width: 100%;
	height: 150px;
	resize: vertical;
}
.button-submit{
	float: left
	width: 100%;
	border: 0px solid transparent;
	cursor: pointer;
	background-color: #000;
	color: white;
	font-size: 18px;
	padding-top: 22px;
	padding-bottom: 22px;
	transition: all 0.3s;
	margin-top: -4px;
	font-weight: 300;
}

.table-header span::after{ 
content: ''; 
width: 20px; 
height: 1px; 
background-color: #9fa4af; 
display: inline-block; 
vertical-align: middle; 
margin-left: 10px; 
} 

.table-header span::before{ 
content: ''; 
width: 20px; 
height: 1px; 
background-color: #9fa4af; 
display: inline-block; 
vertical-align: middle; 
margin-right: 10px; 
} 
.table-header p { 
font-size: 1.8rem; 
display: inline-block; 
width: 40rem; 
} 
.table-header { 
text-align: center;
margin-bottom: 5rem;
} 
.table-header span { 
text-transform: uppercase; 
font-size: 2rem; 
color: #9fa4af; 
} 
.table-header h2 { 
color: #4f4f6f; 
font-size: 2rem; 
margin: 0; 
} 
.price-tags { 
display: flex; 
justify-content: space-around; 
align-items: center; 
} 
.price-tag { 
background-color: #fff;
border-radius: 2rem;
padding: 2rem; 
display: flex; 
flex-direction: column; 
align-items: center; 
justify-content: space-between;
width: 300px;
height: 500px;
text-align: center; 
transition: 0.2s;
} 

.price-tag:hover{
	cursor: pointer;
	box-shadow: 0px 0px 81.88px 10.12px rgba(204, 204, 223, 0.71);
}
.price-tag span {
	font-size: 1.4rem;
	text-transform: uppercase;
	margin: 3rem auto 1rem;
}
.price-tag h4 {
	color: #4f4f6f;
	font-size: 3.5rem;
	font-weight: 500;
}

.price-tag h4 sub {
	font-size: 1.4rem;
}

.price-tag h4 sup {
	font-size: 1.4rem;
	vertical-align: super;
	margin-right: 0.5rem;
}

.price-tag p {
	color: #9fa4af;
}
.price-btn{
	background-color: #fff;
	border: #9fa4af 1px solid;
	color: #9fa4af;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 300;
	padding: 1rem 4rem;
	border-radius: 100px;
	transition: 0.2s;
}

.price-btn:hover{
	background-color: #6e45e2;
}