/*Отступы*/
*{
	margin: 0;
	padding: 0;
}
/*Отступы*/
a{
	text-decoration: none;
}

li{
	text-decoration: none;
	list-style: none;
}

body{
	font-family: 'Times New Roman', sans-serif;
}

/*logo*/
.logo{
	background: #000;
	width: 100%;
	display: flex;
	justify-content: center;
}

.graficlogo{
	padding: 5px;
	max-width: 100%;
	box-sizing: border-box;
}
/*logo*/
/*Навы*/
nav {
	margin: auto;
	width: 800px;
	height: 100px;
	display: flex;
	justify-content: center;

}

.topnav{
	font-size: 14px;
	margin-top: 40px;
}

.topnav a{
	color: #000;
	text-align: center;
	padding: 14px 16px;
	font-size: 17px;
}

.topnav a:hover{
	color: #fff;
	border-bottom: 2px solid #fff;
}

.topnav .icon{
	display: none;
}
/*Навы*/

.blog-container{
	background:#fafafa;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.2)0 4px 2px -2px;
	font-weight: 100;
	margin: 48px auto;
	width: 50rem;
}

.blog-container a:hover{
	border-color: #ff4d4d;
	color: #ff4d4d;
}

.blog-cover{
	background: url(../img/world.jpg);
	background-size: cover;
	border-radius: 5px 5px 0 0;
	height: 15rem;
	box-shadow: inset rgba(0,0,0,0.2) 0 64px 64px 16px;
}
.blog-body{
	margin: 0 auto;
	width: 80%;
}
.blog-title h1 a{
	color: #333;
	font-weight: 100;
}
.blog-text p{
	color: #4d4d4d;
}
.blog-tags ul{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	padding-left: 0;
}
.blog-tags li + li{
	margin-left: .5rem;
}
.blog-tags a{
	border: 1px solid #999999;
	border-radius: 3px;
	color: #999999;
	font-size: .75rem;
	height: 1.5rem;
	line-height: 1.5rem;
	letter-spacing: 1px;
	padding: 0 .5rem;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	width: 5rem;
}

.blog-footer{
	border-top: 1px solid #e6e6e6;
	margin: 0 auto;
	padding-bottom: .125rem;
	width: 80%;
}
.blog-footer ul{
	list-style: none;
	display: flex;
	flex: row wrap;
	justify-content: flex-end;
	padding-left: 0;
}
.blog-footer li{
	color: #999999;
	font-size: .75rem;
	height: 1.5rem;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	white-space: nowrap;
}
.published-date{
	border: 1px solid #999999;
	border-radius: 3px;
	padding: 0 .5rem;
}

/*Адаптация под мобилу*/
@media screen and (max-width: 768px){

.topnav a:not(:first-child) {
	display: none;
	}
	.topnav a.icon{
		float: right;
		margin-top: -17px;
		display: block;
		color: black;
	}
	nav{
		width: 100%;
		height: 100px;
		display: flex;
		justify-content: left;
	}
	.topnav.responsiv{
		position: relative;
	}
	.topnav.responsive a.icon{
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a{
		float: none;
		display: block;
		text-align: left;
	}
	.blog-container{
		width: 20rem;
	}
}
/*Адаптация под мобилу*/
/*Текст контента*/
.main-text {
	position: relative;
	z-index: 2;
	text-align: center;
	
}

.main-text span {
	display: inline-block;
}

.main-text span::after {
	content: '';
	width: 20px;
	height: 1px;
	background-color: #fff;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

.main-text span::before {
	content: '';
	width: 20px;
	height: 1px;
	background-color: #fff;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
/*Текст контента*/

.title {
	padding-top: 115px;
}

.title h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}

.title p {
	color: #fff;
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
}
/*Услуги*/
.services {
	margin-top: 80px;
}

.services__item	{
	width: 270px;
	float: left;
	text-align: center;
}

.services__item h3 {
	font-size: 18px;
	margin-bottom: 5px;
}

.services__item p {
	color: #fff;
	font-size: 12px;
	line-height: 1.55em;
	font-family: Arial;
	font-weight: bold;
}
/*Услуги*/
.flex {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 115px;
	min-height: 100vh;

}



/*footer*/

footer{
	width: 100%;
	height: auto;
	background: #000;
	margin: 0 auto;
	text-align: center;
	padding-top: 25px;
}

.social img{
	margin-left: 10px;
	margin-bottom: 10px;
}
.social img:hover{
	background: #494949;
	border-radius: 50%;
}
/*footer*/

.form{
	width: 50%;
	margin: 50px auto;
}

.feedback-input{
	color: #000;
	font-weight: 14px;
	line-height: 22px;
	background-color: #000;
	padding: 13px;
	margin-bottom: 10px;
	width: 100%;
	bot-sizing: border-box;
	border: 0px solid transparent;
	border-bottom: 1px solid #000;
}
textarea{
	width: 100%;
	height: 150px;
	resize: vertical;
}
.button-submit{
	float: left
	width: 100%;
	border: 0px solid transparent;
	cursor: pointer;
	background-color: #000;
	color: white;
	font-size: 18px;
	padding-top: 22px;
	padding-bottom: 22px;
	transition: all 0.3s;
	margin-top: -4px;
	font-weight: 300;
}